footer {
    color: var(--text-main);
    background: var(--bg-tertiary); /* Couleur différente pour le footer */
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;

    p { margin: 0; }

    .grid { align-items: center; }

    /* Ajustement Desktop */
    @media screen and (min-width: 750px) {
        text-align: left;
        .grid { display: flex; justify-content: space-between; }
        .grid__item { flex: 1; }
        .socials { justify-content: center; }
    }
}