<footer>
    <div class="container">
        <div class="grid">
            <div class="grid__item">
                <p>Alexandre Blaizot</p>
            </div>
            
            <div class="grid__item">
                 <ul class="socials list-unstyled">
                    <li><a href="#">LN</a></li> </ul>
            </div>

            <div class="grid__item">
                <p>Copyright © {{ currentYear }} Portfolio Alex. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- TODO bien reprendre les logo reseaux -->