<div class="about-wrapper">      
    <div class="grid">
        
        <div class="grid__item image-container">
            <img [src]="info.imgProfile" alt="photo Alexandre Blaizot">
        </div>

        <div class="grid__item text-container">
            <h2 class="section-title">{{ info.title }}</h2>
            <h3 class="subtitle">{{ info.subtitle }}</h3>
            
            <div class="content">
                <p [innerHTML]="info.paragraph1"></p>
                <p [innerHTML]="info.paragraph2"></p>
            </div>
        </div>
        
    </div>
</div>