<div class="services-wrapper">
    
    <div class="section-header">
        <h2 class="section-title">Mes Services</h2>
        <div class="intro-text">
            <p>N'étant encore qu'"apprenti", mes services restent limités mais passionnés. Je possède les bases solides pour concrétiser vos projets.</p>
        </div>
    </div>

    <div class="grid">
        <div class="grid__item" *ngFor="let service of servicesList">
            <div class="service-card">
                
                <div class="service__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path [attr.d]="service.iconPath" />
                    </svg>
                </div> 
                
                <div class="service__content">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                </div>

            </div>
        </div>
    </div>

</div>