<div class="skills-container">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title">Mes compétences</h2>
        </div>

        <div class="grid">
            
            <div class="grid__item"> 
               <h3>Domaines de compétences</h3>
               <ul class="list-unstyled">
                <li *ngFor="let domain of data.domains">
                    <h4>{{ domain.title }}</h4>
                    <p>{{ domain.text }}</p>    
                </li>
               </ul>  
            </div> 

            <div class="grid__item"> 
               <h3>Compétences Techniques</h3>
               
               <div class="skill-bar-wrapper" *ngFor="let tech of data.techs">
                   <div class="skill-info">
                       <span>{{ tech.name }}</span>
                       <span>{{ tech.percent }}%</span>
                   </div>
                   <div class="progressbar">
                        <div class="bar" [style.width.%]="tech.percent"></div>
                   </div>
               </div>

             </div>
            
        </div> 
    </div>
</div>