<div class="skills-wrapper">
    <div class="section-header">
        <h2 class="section-title">Mes Compétences</h2>
    </div>

    <div class="grid">
        <div class="grid__item domains"> 
           <h3>Spécialisations</h3>
           <ul class="list-unstyled">
            <li *ngFor="let domain of data.domains">
                <h4>{{ domain.title }}</h4>
                <p>{{ domain.text }}</p>    
            </li>
           </ul>  
        </div> 

        <div class="grid__item techs"> 
           <h3>Stack Technique</h3>
           <div class="skills-grid">
               <div class="skill-icon-card" *ngFor="let tech of data.techs">
                   <div class="icon-box">
                       <svg [attr.viewBox]="tech.viewBox" xmlns="http://www.w3.org/2000/svg">
                           <path [attr.d]="tech.iconPath" fill="currentColor" stroke="currentColor" stroke-width="0" />
                       </svg>
                   </div>
                   <span>{{ tech.name }}</span>
               </div>
           </div>
         </div>
    </div> 
</div>